[submodule "HoudiniPlugin/yu2011/Math"]
	path = HoudiniPlugin/TexturingFluids/Math
	url = git@github.com:josuperstar/math.git
[submodule "HoudiniPlugin/yu2011/Images"]
	path = HoudiniPlugin/TexturingFluids/Images
	url = git@github.com:josuperstar/images.git
