[submodule "HoudiniPlugin/yu2011/Math"]
	path = HoudiniPlugin/yu2011/Math
	url = git@github.com:josuperstar/math.git
[submodule "HoudiniPlugin/yu2011/Images"]
	path = HoudiniPlugin/yu2011/Images
	url = git@github.com:josuperstar/images.git
[submodule "HoudiniPlugin/yu2011/Eigen"]
	path = HoudiniPlugin/yu2011/Eigen
	url = git@github.com:josuperstar/Eigen.git
